
blockquote.blockquote {
    background-color: #444;
    font-weight: bold;
    margin: 0 0 20px;
    width: auto;
    padding: 10px 0 10px 1em;
    text-align: left;
}

blockquote > p {
    font-weight: bold;
    color: #eee;
}

